.instructionContainer {
    background-image: url(./images/paintBrushStrokes.jpg); 
    color: black;
    min-height:150px;
    padding: 5px;
    text-align: center;
    }
    .paragraphTitle {
    font-size: 75px;
    background: 0;
    }
    .paragraphInstructions {
    font-size: 35px;
    background: 0;
    }